.spinner{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    border: 5px solid grey;
    border-top-color:blue;
    animation: spin 1s linear infinite;
    border-radius: 50%;
 

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

